[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "energymethod"]
	path = energymethod
	url = https://github.com/cran/energymethod
